:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888; 
}

.button {
    font-size:  1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    box-shadow: 25px 5px 75px rgba(0,0,0,0.25),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.25);
}

.button:active {
    background-color: #ccc;

}
.button.double {
    grid-column: span 2;
}
.button.operation {
    background-color: #4b64c8;
    color: #FFF;
}
.button.triple {
    grid-column: span 3;
}
.button.operation:active {
    background-color: #4b64c8cc;
}